* {
    font-family: 'Baskerville';
}

body {
    display: grid;
    background-color: lightgray;
}

.pagehead {
    grid-row: 1/2;
    display: grid;
    font-size: 40px;
    text-align: center;
}

.liminal {
    width: 25%;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Papyrus";
    color: rgb(140, 140, 140);
    background-color:rgba(0, 0, 0, 0);
    border-radius:5px;
    transition: width 2s, background-color 2s;
}

.liminal:hover {
    width:100%;
    background-color: lightgoldenrodyellow;
}

a {
    color: inherit;
    text-decoration: none;
}

.pr {
    background-color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.pagebody {
    grid-row: 2/3;
    display: grid;
}

.pagebutt {
    grid-row: 3/4;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.next {
    font-size: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 5px;
    transition: padding 0.5s, font-size 0.5s;
}

.next:hover {
    padding: 10px;
    font-size: 35px;
    transition: padding 1s, font-size 1s;
}

.back {
    font-size: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    transition: padding 0.5s, font-size 0.5s;
}

.back:hover {
    padding: 10px;
    font-size: 35px;
    transition: padding 1s, font-size 1s;
}

.prev {
    font-size: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 5px;
    transition: padding 0.5s, font-size 0.5s;
}

.prev:hover {
    padding: 10px;
    font-size: 35px;
    transition: padding 1s, font-size 1s;
}

.images {
    max-height: 200px;
    transition: max-height 1s;
}

.images:hover {
    max-height: 400px;
}

.vid {
    max-height: 400px;
}

.pagesubhead {
    font-size: 20px;
    transition: font-size 1s;
}

.pagesubhead:hover {
    font-size: 30px;
}