* {
    font-family: 'Baskerville';
}

body {
    display: grid;
    background-image: url(../statics/images/fog.PNG)
}

.span1 {
    font-size:20px;
    color: rgb(75, 75, 75);
}

.pagehead {
    grid-row: 1/2;
    display: grid;
    font-size: 40px;
    text-align: center;
}

.liminal {
    grid-row:2/3;
    display: grid;
    font-size: 15px;
    text-align: center;
    font-family: "Papyrus";
    color: rgb(140, 140, 140);
}

.pagebody {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.body-nav {
    grid-row: 1/2;
    grid-column: 1/5;
    display: grid;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.body-nav-head {
    grid-row: 1/2;
    font-size: 30px;
    text-align: center;
}

.body-nav-subhead {
    grid-row: 2/3;
    font-size: 20px;
    text-align: center;
    color: rgb(140, 140, 140);
}

.body-nav-body {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
}

.body-nav-body-link {
    font-size: 25px;
    border-width: 2px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: black;
    text-align: center;
    transition: color 1s, background-color 1s;
}

a {
    color: inherit;
    text-decoration: none;
}

.body-nav-body-link:hover {
    background-color: rgba(0, 0, 0, 1);
    color: lightgray;
    transition: color 1s, background-color 1s 
}

.body-body {
    grid-row: 1/2;
    grid-column: 5/13;
    display: flex;
    flex-direction: row-reverse;
}

.body-body-display {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    word-wrap: break-word;
    overflow:hidden;
    font-size: 20px;
    transition:width 1s, border-color 1s, background-color 1s, color 1s, height 1s;
}

